.wordbox{
    position: absolute;
    display: block;
    margin:0 auto;
    height: fit-content;
    width:400px;
    left :39.1%;

}
#first-guess{
    align-items: center;
    display:flex;
    height: 80px;
}
#second-guess{
    align-items: center;
    display:flex;
    height: 80px;
}
#third-guess{
    align-items: center;
    display:flex;
    height: 80px;
}
#fourth-guess{
    align-items: center;
    display:flex;
    height: 80px;
}#fifth-guess{
    align-items: center;
    display:flex;
    height: 80px;
}#sixth-guess{
    align-items: center;
    display:flex;
    height: 80px;
}
.letterbox{
    border: 5px solid black;
    height:60px;
    width:60px;
    transform:translate(50%,50%);
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}
#guess{
    width:400px;
}
#input{
    width: 500px;
    transform: translate(10px,50px);
}